@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Montserrat+Alternates&family=Poppins:wght@400;600&display=swap');
:root{
  --bg-color:#131722;
  --main-font:'Montserrat Alternates',sans-serif;
  --light-bg:#24baef;
  --font-color:#fff;

}
body{
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--main-font);
}
.vote{
  background-color: var(--light-bg);
}
a{
  color: var(--font-color);
  text-decoration: none;
}
.footer{
  background-color: rgba(0, 0, 0, 0.025)
}
.bor{
  height: 1px ;
  background-color:#a8a8a83d ;
}
.my-input{
  background-color: transparent;
  border: solid 1px #a8a8a83d;
  color: #fff;
}